# Node.js
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock
/.pnp/
/.pnp.js

# some file not being 
eliza_opacity_avs


# TypeScript
*.tsbuildinfo
*.d.ts

# Logs
*.log

# Build output
/dist/
/build/
/coverage/
/.cache/

# Docker
*.dockerfile
docker-compose.yml
docker-compose-docs.yaml
Dockerfile
Dockerfile.docs

# Test coverage
coverage/

# VSCode settings
.vscode/

# JetBrains IDE settings
.idea/

# MacOS
.DS_Store

# Environment files
.env
.env.local
.env.*.local

# ESLint / Prettier
.eslintcache

# Temporary files
*.swp
*.swo
*~

# Lerna
lerna-debug.log
lerna.json

# Turbo (for turbo repo)
.turbo/

# Miscellaneous
*.tgz
*.zip

# databases
data/
public/data/